
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
  
    <title>Login</title>
    <meta name="description" content="express webpage">
    <meta name="author" content="Jovan Milicev">
  
    <link rel="stylesheet" href="css/home.css">
  
</head>

  <body>
    <h1>Login Page<h1>

    <% if (messages.error) {%>
        <h2><%= messages.error %></h2>
    <% } %>

    <hr>

    <form action="/login" method="POST">

    <div>
        <label for="email">Email</label><br>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" required>
    </div>
    <br>
    <button type="submit">Login</button>
    
    </form>

    
    
    <a href="/register">Register</a>

</body>